<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mattstein.coolify</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>B987E75F-C0A7-41AC-BB8B-DFCA679C52AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16FBE809-8239-4747-8F90-F8802F074AA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Stein</string>
	<key>description</key>
	<string>Quickly jump to Coolify servers and projects.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Coolify Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>16FBE809-8239-4747-8F90-F8802F074AA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>cl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hang on...</string>
				<key>script</key>
				<string>php items.php</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List Coolify projects and servers</string>
				<key>title</key>
				<string>Coolify Items</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B987E75F-C0A7-41AC-BB8B-DFCA679C52AF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16FBE809-8239-4747-8F90-F8802F074AA5</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>B987E75F-C0A7-41AC-BB8B-DFCA679C52AF</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>COOLIFY_API_TOKEN</key>
		<string></string>
		<key>COOLIFY_FQDN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>COOLIFY_API_TOKEN</string>
		<string>COOLIFY_FQDN</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://mattstein.com</string>
</dict>
</plist>
